.header{
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-wrap: wrap;
    border-bottom: 1px gray solid;
    padding: 5px;
}

@media (max-width: 768px) {
    .header{
        flex-direction: column;
    }
}